.map {
  height: 470px;
  background-color: #282b2e;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

/* we should access the container added by leaflet and set the height */
.map .leaflet-container {
  height: 100%;
  border-radius: 12px;
  filter: opacity(80%);
}

.info_container {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: "center";
}
.info__flag {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-width: 1px;
  border-color: #282b2e;
}

.leaflet-popup {
  width: 200px !important;
}
