* {
  margin: 0;
}

body {
  background: #282b2e;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 1;
}
.app__right {
  width: 300px;
}

.MuiCardContent-root {
  height: 100%;
  width: 100%;
}

.chartjs-render-monitor {
  height: 200px;
}
.app__status {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  body {
    overflow: visible;
  }
}
